<footer class="footer">
  <div class="w">
    <div class="links">
      <a href="https://www.imooc.com/" class="link">慕课网</a>|
      <a href="https://www.baidu.com/" class="link">百度</a>|
      <a href="https://www.taobao.com/" class="link">淘宝</a>|
      <a href="https://www.zhihu.com/" class="link">知乎</a>|
    </div>
    <div class="copyright">
      <span >
          Copyright © 2019 mymmall.com All Right Reserved
      </span>
    </div>
  </div>
</footer>

<script
  type="text/javascript"
  src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"
></script>
