<nav class="nav">
  <div class="w clearfix">
    <div class="userinfo">
      <div class="user not-login">
        <a href="javascript:;" class="link user-login">登录</a>
        <a href="javascript:;" class="link user-reg">注册</a>
      </div>
      <div class="user login hide">
        <a href="javascript:;" class='link-text'>欢迎,<span class="username"></span></a>
        <a href="javascript:;" class="link user-logout">退出</a>
      </div>
    </div>
    <div class="list">
      <a href="javascript:;" class="link">
        <i class="fa fa-shopping-cart"></i>
        购物车(<span class="cart-count">0</span>)
      </a>
      <a href="javascript:;" class="link">我的订单</a>
      <a href="javascript:;" class="link">我的MMall</a>
      <a href="javascript:;" class="link">关于MMall</a>
    </div>
  </div>
</nav>